[Desktop Entry]
Categories=Development;IDE
Comment[de_DE]=U++ IDE
Comment=U++ IDE
Encoding=UTF-8
Exec=CPPFLAGS=-L/usr/lib32/ LD_LIBRARY_PATH=/usr/lib32/ PKG_CONFIG_PATH=/usr/lib32/pkgconfig/ /home/oliver/Dev/Binaries/UPPx64/ide
GenericName[de_DE]=TheIDE
GenericName=TheIDE
Icon=/home/oliver/.config/u++/ide/theide.png
MimeType=
Name[de_DE]=TheIDE - 32-Bit Paths
Name=TheIDE - 32-Bit Paths
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
